* {
  box-sizing: border-box;
}

main {
  text-align: center;
  width: 40rem;
  position: absolute;
  left: calc(50% - 20rem);
  top: calc(40% - 10rem);
  /* border: 1px solid red; */
}
main div {
  margin-top: 2rem;
}
.baslik {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}
.baslik a {
  text-decoration: none;
  /* color: black; */
  padding: 6px;
}
.mavi {
  background-color: rgb(30, 91, 221);
  color: white;
  font-weight: 800;
}
.mavi:hover {
  box-shadow: 2px 2px 3px rgb(209, 202, 202);
}
.acizili {
  color: black;
}
.acizili:hover {
  text-decoration: underline;
}
.bulanik {
  opacity: 50%;
}
.bulanik:hover {
  opacity: 100%;
}
.arama {
  border: 1px solid lightgrey;
  border-radius: 25px;

  /* display: inline-block; */
  display: flex;
  padding: 8px ;

  margin-left: 5rem;

  width: 30rem;
  height: 2.8rem;
}
.ara {
  margin: 0 1rem;
  padding-bottom: 4px;
}
.mik {
  margin: 0 23rem;
}

.arama:hover {
  box-shadow: 3px 3px 3px rgb(221, 219, 219);
}
.aciklama a.bir {
  border: 1px solid gainsboro;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 8px;
  background-color: rgb(238, 238, 238);
  color: gray;
  padding: 8px;
}
.aciklama a.iki {
  border: 1px solid gainsboro;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 8px;
  background-color: rgb(238, 238, 238);
  color: gray;
  padding: 8px;
}
.aciklama a.bir:hover {
  border: 1px solid rgb(214, 214, 214);

  box-shadow: 1px 1px whitesmoke;
}
.aciklama a.iki:hover {
   border: 1px solid rgb(214, 214, 214);

  box-shadow: 1px 1px whitesmoke;
}
.son {
  padding: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.son a {
  text-decoration: none;
  padding: 6px;
  color: rgb(104, 99, 99);
}
.son a:hover {
  text-decoration: underline;
}
.tr {
  margin-left: 3px;
  padding: 10px;
  color: rgb(104, 99, 99);
}
footer {
  background-color: whitesmoke;
}
footer {
  position: absolute;
  bottom: 0px;

  width: 100%;
}
span a{
  color: rgb(25, 25, 150);

}
